#login-title{
    margin-top: 4%;
}

#login-container{
    margin: auto;
    margin-top: 50px;
    width: 20%;
    min-width: 200px;
    height: fit-content;
    border: solid;
    border-color: lightgrey;
    border-radius: 10px;
    padding: 1em;
}

.form-control{
    margin-bottom: 20px;
}

#submit-button{
    margin: 10px;
    margin-top: 10px;
}